<div class="row justify-content-center">
    <div class="col-md-6 text-left bg-white rounded shadow py-3">
        <form (ngSubmit)="onSubmit(myForm)" #myForm>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter Username">
             
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" (click)="gotocar('app-car')" class="btn btn-success">Submit</button>
          </form>
    </div>
    </div>
    